# Npm
node_modules
package-lock.json

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Monorepo
lerna-debug.log

# IDE
.idea

# Builds
**/lib
**/dist

# Test
coverage
